.register-form {
  justify-content: center;
}

select {
  width: 150rem;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
}

.row {
  display: flex;
  gap: 1rem;
}

form {
  margin-top: 3rem;
}

.detailed-description {
  height: 8rem;
}

.short-description {
  height: 4rem;
}

.header {
  display: flex;
  justify-content: space-between;
}